<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQlite" connectionString="DRIVER=SQLite3 ODBC Driver;Database=.\data.db;LongNames=0;Timeout=1000;NoTXN=0;SyncPragma=NORMAL;StepAPI=0;option=67108864" />
    <add name="SQLExpress" connectionString="Data Source=localhost\SQLEXPRESS; Initial Catalog=Orcomp; Integrated Security=true" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>